<!DOCTYPE html>
<html>
{% load i18n %}
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="static/torneos.css"/>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="contenido-dinamico">
            
    </div>
    <div id="contenido-a-eliminar4">
<h1>{% trans "Tournament administration" %}</h1>

<p><a href="{% url 'home' %}" class="btn btn-primary links">{% trans "Home" %}</a></p>

<p><button id="edit-torneo-btn" class="btn btn-primary links">{% trans "New" %}</button></p>

            
<table>
    <tr>
        <th>{% trans "Edit" %}</th>
        <th>{% trans "Delete" %}</th>
        <th>{% trans "Tournament name" %}</th>
        <th>{% trans "Start of registration" %}</th>
        <th>{% trans "End of registration" %}</th>
        <th>{% trans "Start of matches" %}</th>
        <th>{% trans "Maximum match duration in minutes" %}</th>
        <th>{% trans "Minutes between matches" %}</th>
    </tr>
    <tr><td colspan='8'></td></tr>
	    {% for torneo in torneos %}
        <tr>
            <td><button class="edit-torneo-btn2" data-torneo-id="{{ torneo.id }}">{{ torneo.id }}</button></td>
            <td><button class="delete-torneo-btn" data-torneo-id="{{ torneo.id }}">{% trans "Delete" %}</button></td>
            <td>{{ torneo.nombre }}</td>
            <td>{{ torneo.comienzo_inscripcion }}</td>
            <td>{{ torneo.fin_inscripcion }}</td>
            <td>{{ torneo.comienzo_partidos }}</td>
            <td>{{ torneo.minutos_duracion_maxima_partidos }}</td>
            <td>{{ torneo.minutos_entre_partidos }}</td>
        </tr>
    {% endfor %}
</table>

<p><a href="{% url 'home' %}" class="btn btn-primary links">{% trans "Home" %}</a></p>
    </div>
    <script>
        $(document).on("click", ".edit-torneo-btn2", function() {
            var torneoId = $(this).data("torneo-id");
            editT2(torneoId);
        });

        function editT2(torneoId) {
            $.ajax({
                url: "{% url 'torneos_edit' %}?idTorneo=" + torneoId,
                method: "GET",
                success: function(data) {
                    $("#contenido-dinamico").html(data.form_html);
                    $("#contenido-a-eliminar4").hide();
                }
            });
        }
        $(document).on("click", "#edit-torneo-btn", function() {
            editT();
        });
        function editT() {
            // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
            $.get("{% url 'torneos_edit' %}", function(data) {
                // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                $("#contenido-dinamico").html(data);
                $("#contenido-a-eliminar4").hide();
            });
        }
        $(document).on("click", ".delete-torneo-btn", function() {
            var torneoId = $(this).data("torneo-id");
            editT2(torneoId);
        });

        function editT2(torneoId) {
            $.ajax({
                url: "{% url 'torneos_delete' %}?idTorneo=" + torneoId,
                method: "GET",
                success: function(data) {
                    // Aquí estableces el HTML devuelto en el contenedor deseado
                    $("#contenido-dinamico").html(data.html);
                    if (data.redirect_url) {
                        localStorage.setItem('redirect_url', data.redirect_url2);
                        window.location.href = data.redirect_url;
                    }
                    $("#contenido-a-eliminar4").hide();
                },
                error: function(xhr, status, error) {
                    // Maneja errores si es necesario
                }
            });
        }
    </script>
</body>
</html>
