<!DOCTYPE html>
<html>
{% load i18n %}
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="static/torneos.css"/>
<link rel="icon" type="image/x-icon" href="static/favicon.ico">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="contenido-dinamico">
            
    </div>
    <div id="contenido-a-eliminar5">
        <h1>{% trans "Edit tournement" %}</h1>
        <form id="miFormulario">
            {% csrf_token %}
            <input type='hidden' name='idTorneo' value='{{idTorneo}}'/>
            <table>
            {{ form.as_table }}
            </table>
            <p><button type="submit" class="btn btn-primary links">{% trans "Save" %}</button></p>
            <p><a href="#" onclick="torneosA()" class="btn btn-primary links">{% trans "Tournament administration" %}</a></p>
        </form>
    </div>
<script>
    function torneosA() {
            // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
            $.get("{% url 'torneos_admin' %}", function(data) {
                // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                $("#contenido-dinamico").html(data);
                $("#contenido-a-eliminar5").hide();
            });
        }
</script>
<script>
    $(document).ready(function() {
        $('#miFormulario').submit(function(event) {
            event.preventDefault(); // Evitar el comportamiento predeterminado de envío del formulario
            var formData = $(this).serialize(); // Serializar los datos del formulario
            $.post("{% url 'torneos_edit' %}", formData)
                .done(function(response) {
                    // Manejar la respuesta exitosa
                    if (response.error) {
                        // Si hay un error, muestra un mensaje de error en algún lugar del HTML
                        $('#mensajeError').text("Ha ocurrido un error al procesar el formulario.");
                    } else if (response.redirect_url) {
                        localStorage.setItem('form2', response.form2);
                        // Si hay una URL de redirección, redirige a esa URL
                        window.location.href = response.redirect_url;
                    } else {
                        // Manejar otro tipo de respuesta, si es necesario
                        console.log(response);
                    }
                })
                .fail(function(xhr, errmsg, err) {
                    // Manejar el fallo de la solicitud
                    console.error('La solicitud falló con un error ' + xhr.status + ': ' + xhr.responseText);
                });
        });
    });
    </script>
</body>
</html>