<!DOCTYPE html>
<html>
    {% load i18n %}
<head>
    <meta charset="UTF-8"/>
    <!--<link rel="stylesheet" href="static/base.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/base.css">

    <!-- href="static/base.css"/>-->
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Configuración de Google Authenticator</title>
</head>
<body>
    
</body>
</html>