<!DOCTYPE html>
<html>
{% load i18n %}
<head>
<meta charset="UTF-8"/>
<!--<link rel="stylesheet" href="static/base.css"/>-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../static/base.css">
<link rel="icon" type="image/x-icon" href="static/favicon.ico">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   <!-- PRIMARY CONTENT SECTION -->
        <!-- en esta seccion se abren diferentes divs para albergar todas las páginas del sitio
             en un site mono página -->
  <main>

<div id="home" class="page">
    <div class="container">
        <h1>{% trans "Welcome!" %} {% trans "Login" %}</h1>
        <!--<h1>{% trans "Login" %}</h1>-->
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <table class="table table-striped">
            {{ form.as_table }}
            </table>
            
            <div class="button-group">
                <p><button type="submit" class="rounded-sm">{% trans "Login" %}</button></p>
                <p><button type="reset" class="rounded-sm">clear</button></p>
            </div>
        </form>
        <div id="contenido-dinamico">
            
        </div>
        <!-- todavia no estamos dados de alta en la bbdd -->
        <div id="contenido-a-eliminar3">
          <p><a href="#" onclick="mostrarSignup()" class="btn btn-primary links">{% trans "I haven't signedup yet" %}</a></p>
        </div>
        <script>
          function mostrarSignup() {
                  // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                  $.get("{% url 'signup' %}", function(data) {
                      
                      // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                      $("#contenido-dinamico").html(data);
                      $("#contenido-a-eliminar3").hide();
                  });
          }
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </div>
</div>
</main>
</body>
</html>