<!DOCTYPE html>
<html>
    {% load i18n %}
<head>
    <title>Trascendance</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/pantallaPong.css"/>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="../../static/base.css">
    <style>
        /* Estilos adicionales si es necesario */
    </style>
{% load static %}
</head>
<body>
    <div class="container">
        <!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
            <a class="navbar-brand" href="#">Trascendance</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'en' %}">{% trans "English" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'es' %}">{% trans "Español" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'fr' %}">{% trans "Français" %}</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>

        <!-- Contenido principal -->
        <div id="content" class="mt-3">
            <!-- Contenido cargado desde el servidor se inserta aquí por JavaScript -->
        </div>
        <div id="contenido-dinamico">

        </div>
        {% if not form %}
        {% if not request.user.is_authenticated %}
        <div id="contenido-a-eliminar">
            <p><a href="#" onclick="mostrarLogin()" class="btn btn-primary links">{% trans "Login" %}</a></p>
            <p><a href="#" onclick="mostrarSignup()" class="btn btn-primary links">{% trans "Signup" %}</a></p>
            <p><a href="#" onclick=" mostrarSignup42()" class="btn btn-primary links">{% trans "Signup42" %}</a></p>

            <!-- <p><a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-22fb4fcdf0439caa173afadfabf30acd4f9721420251db03960f190416055657&redirect_uri=https%3A%2F%2F10.12.17.1%2Fapi&response_type=code"><img src="../../static/42login.png" class="link42"></a></p> -->
        </div>
        {%endif%}
        {%endif%}
        {% if error %}
            <script>
                window.alert("Datos incorrectos");
                setTimeout(showMessage, 2000);
                window.location.href = "{% url 'index' %}";
            </script>
        {% endif %}
        {% if request.user.is_authenticated %}
        <div id="home" class="page">
            <div class="container">
                <div id="contenido-dinamico">

                </div>
                <script>
                    usename = localStorage.getItem('username2');
                    if (usename) {
                        window.onload = function() {
                            $("#contenido-a-eliminar").hide();
                        };
                        localStorage.removeItem('username2');
                    }
                </script>
                <div id="contenido-a-eliminar3">
                    <p>{% trans "User" %}: {{ request.user.username }}</p>
                    <p><a href="#" onclick="mostrarLogout()" class="btn btn-primary links">{% trans "Logout" %}</a></p>
                    <p><a href="#" onclick="mostrarQR()" class="btn btn-primary links">{% trans "Show 2FA QR" %}</a></p>
                    <table width='250'>
                        <tr><th>{% trans "Quick match" %}</th></tr>
                        <tr>
                        <td>
                            <p><a href="#" onclick="mostrarPartido()" class="btn btn-primary links">{% trans "Play" %}</a></p>
                            <p><a href="#" onclick="mostrarMLista()" class="btn btn-primary links">{% trans "List of my matches" %}</a></p>
                            <p><a href="#" onclick="mostrarLista()" class="btn btn-primary links">{% trans "List of matches" %}</a></p>
                        </td>
                        </tr>
                    </table>
                    <table width='250'>
                        <tr><th>{% trans "Tournaments" %}</th></tr>
                        <tr>
                            <td>
                                <p><a href="#" onclick="mostrarInsLista()" class="btn btn-primary links">{% trans "Tournament registration" %}</a></p>
                                <p><a href="#" onclick="mostrarInfLista()" class="btn btn-primary links">{% trans "Tournament information" %}</a></p>
                                {% if jugar %}
                                    <p><a href="#" onclick="mostrarPT()" class="btn btn-primary links">{% trans "Tournament play" %}</a></p>
                                {% endif %}
                                {% if hayProximosTorneos %}
                                    <p>{% trans "Upcoming tournaments" %}</p>
                                    <ul>
                                    {% for t_torneo in proximosTorneos %}
                                        <li>{{ t_torneo }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if request.user.is_superuser or request.user.is_staff %}
                                    <p><a href="#" onclick="mostrarTA()" class="btn btn-primary links">{% trans "Tournament administration" %}</a></p>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                </div>
                <script>
                    function mostrarLogout() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'logout' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            window.location.href = "{% url 'index' %}";
                            //$("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                            history.replaceState({ view: "Logout" }, null, "/");
                        });
                    }
                    function mostrarQR() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'check' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            //window.location.href = "{% url 'index' %}";
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                            history.replaceState({ view: "check" }, null, "/");
                        });
                    }
                    function mostrarPartido() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'arranque_rapido' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                            history.replaceState({ view: "partido" }, null, "/");
                        });
                    }
                    function mostrarMLista() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'partidos_mlist' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                            history.replaceState({ view: "partidos_mlist" }, null, "/");
                        });
                    }
                    function mostrarLista() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'partidos_list' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
			                history.replaceState({ view: "partidos_list" }, null, "/");
                        });
                    }
                    function mostrarInsLista() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'torneos_inscripcion_list' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                            history.replaceState({ view: "torneos_inscripcion_list" }, null, "/");
                        });
                    }
                    function mostrarInfLista() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'torneos_info_list' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                     
                            history.replaceState({ view: "torneos_info_list" }, null, "/");
                        });
                    }
                    function mostrarPT() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'arranque_torneo' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                            history.replaceState({ view: "torneos_play" }, null, "/");
                        });
                    }
                    function mostrarTA() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'torneos_admin' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                            history.replaceState({ view: "torneos_admin" }, null, "/"); 
				// history.pushState({ view: "torneos_admin" }, null, "/");
                        });
                    }

			function mostrarLogout2() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'logout' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            window.location.href = "{% url 'index' %}";
                            //$("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                        });
                    }
                    function mostrarQR2() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'check' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            //window.location.href = "{% url 'index' %}";
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                        });
                    }
                    function mostrarPartido2() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'arranque_rapido' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                        });
                    }
                    function mostrarMLista2() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'partidos_mlist' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                        });
                    }
                    function mostrarLista2() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'partidos_list' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                        });
                    }
                    function mostrarInsLista2() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'torneos_inscripcion_list' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                        });
                    }
                    function mostrarInfLista2() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'torneos_info_list' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                        });
                    }
                    function mostrarPT2() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'arranque_torneo' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                        });
                    }
                    function mostrarTA2() {
                        // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                        $.get("{% url 'torneos_admin' %}", function(data) {
                            // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                            $("#contenido-dinamico").html(data);
                            $("#contenido-a-eliminar").hide();
                        });
                    }

                </script>
            </div>
        </div>
        {%if form %}
            <!--<meta http-equiv="refresh" content="0; url={% url 'index' %}">-->
        {%endif%}
        {%if form2 %}
            <script>
                window.onload = function() {
                    mostrarTA();
                };
                function mostrarTA() {
                    // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                    $.get("{% url 'torneos_admin' %}", function(data) {
                        // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                        $("#contenido-dinamico").html(data);
                        $("#contenido-a-eliminar").hide();
                        history.replaceState({ view: "torneos_admin" }, null, "/");
                    });
                }
		</script>
        {%endif%}
        {% if qr_path%}
        <script>
            window.onload = function() {
                mostrar2fa();
            };
            function mostrar2fa() {
                // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                $.get("{% url 'check' %}", function(data) {
                    // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                    $("#contenido-dinamico").html(data);
                    $("#contenido-a-eliminar").hide();
                    history.replaceState({ view: "check" }, null, "/")
                });
            }
        </script>

        {% endif %}
        {% if form3 %}
        <script>
            window.onload = function() {
                mostrartorneos();
            };
            function mostrartorneos() {
                // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                $.get("{% url 'torneos_inscripcion_list' %}", function(data) {
                    // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                    $("#contenido-dinamico").html(data);
                    $("#contenido-a-eliminar").hide();
                    history.replaceState({ view: "torneos_inscripcion_list" }, null, "/")
                });
            }
        </script>
        {% endif %}
    {% endif %}
    <script>
        // var username = localStorage.getItem('username2');
        // var form5 = localStorage.getItem('form5');
        // var redirect_url2 = localStorage.getItem('redirect_url');
        //     function mostrartorneos2() {
        //         localStorage.removeItem('form5');
        //         localStorage.removeItem('redirect_url');
        //         // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
        //         $.get("{% url 'torneos_admin' %}", function(data) {
        //             // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
        //             $("#contenido-dinamico").html(data);
        //             $("#contenido-a-eliminar").hide();
        //         });
        //     }

        // if (username) {
        //     window.onload = function() {
        //         mostrarcode(username);
        //     };
            function mostrarcode(username) {
                localStorage.removeItem('username');
                // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                $.get("{% url 'google_code' %}?username=" + username, function(data) {
                    // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                    $("#contenido-dinamico").html(data);
                    $("#contenido-a-eliminar").hide();
                    history.replaceState({ view: "google_code" }, null, "/")
                });
            }
        //localStorage.removeItem('username2');
            function mostrarcode2(username) {
                // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                $.get("{% url 'google_code' %}?username=" + username, function(data) {
                    // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                    $("#contenido-dinamico").html(data);
                    $("#contenido-a-eliminar").hide();
                });
            }
        </script>
    <footer class="container-fluid bg-dark text-white py-3 footer">
        <div class="text-left">
            <p class="m-0">&copy; 42Madrid excentric pong</p>
        </div>
    </footer>
    </div>
    <script>

    function pushStateFunction() {
        history.pushState({ view: "home" }, null, "/");
        
    }
        function mostrarLogin() {
            // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
            $.get("{% url 'login' %}", function(data) {
                // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                $("#contenido-dinamico").html(data);
                $("#contenido-a-eliminar").hide();
                history.replaceState({ view: "login" }, null, "/");

            });
        }
        function mostrarSignup() {
            // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
            $.get("{% url 'signup' %}", function(data) {
                // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                $("#contenido-dinamico").html(data);
                $("#contenido-a-eliminar").hide();
                history.replaceState({ view: "signup" }, null, "/");
            });
        }
        function mostrarSignup42() {
            // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
            localStorage.setItem("hostname", window.location.hostname)
            window.location.href = "https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-22fb4fcdf0439caa173afadfabf30acd4f9721420251db03960f190416055657&redirect_uri=https%3A%2F%2F"+window.location.hostname+"%2Fapi2&response_type=code";
                // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                $("#contenido-dinamico").html(data);
                $("#contenido-a-eliminar").hide();
        }
        function mostrarLogin2() {
            // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
            $.get("{% url 'login' %}", function(data) {
                // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                $("#contenido-dinamico").html(data);
                $("#contenido-a-eliminar").hide();
            });
        }
        function mostrarSignup2() {
            // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
            $.get("{% url 'signup' %}", function(data) {
                // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                $("#contenido-dinamico").html(data);
                $("#contenido-a-eliminar").hide();
            });
        }

                function mostrarTA2() {
                    // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                    $.get("{% url 'torneos_admin' %}", function(data) {
                        // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                        $("#contenido-dinamico").html(data);
                        $("#contenido-a-eliminar").hide();
                    });
                }
                function mostrar2fa2() {
                // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                $.get("{% url 'check' %}", function(data) {
                    // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                    $("#contenido-dinamico").html(data);
                    $("#contenido-a-eliminar").hide();
                });
            }

            // function mostrartorneos2() {
            //     // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
            //     $.get("{% url 'torneos_inscripcion_list' %}", function(data) {
            //         // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
            //         $("#contenido-dinamico").html(data);
            //         $("#contenido-a-eliminar").hide();
            //     });
            // }


function renderView(view) {
  // Carga la plantilla index.html
  $.get(`{% url 'index' %}`, function(data) {

    // Mostrar el contenido específico de la vista
    switch (view) {
      case "login":
        mostrarLogin2();
        break;
      case "signup":
        mostrarSignup2();
        break;
      case "logout":
        mostrarLogout2();
        break;
      case "check":
        mostrarQR2();
        break;
      case "partido":
        mostrarPartido2();
        break;
      case "partidos_mlist":
        mostrarMLista2();
        break;
      case "partidos_list":
        mostrarLista2();
        break;
      case "torneos_inscripcion_list":
        mostrarInsLista2();
        break;
      case "torneos_info_list":
        mostrarInfLista2();
        break;
      case "torneos_play":
        mostrarPT2();
        break;
      case "torneos_admin":
        mostrarTA2();
        break;
      case "google_code":
        mostrarcode2('{{username2}}');
        break;
      case "home":
      // $("#contenido-dinamico").html();
      console.log("AUguFAGF\n\n")
      location.reload();
        break;
      default:
        $("#")
        break;
    }
    // history.pushState({ view: view }, null, `/${view}`);
  });
}
window.addEventListener('popstate', (event) => {

  // Check if event.state has a view property (use strict comparison)
   if (event.state !== null && typeof event.state.view === 'string') {
        const view = event.state.view;
        renderView(view);
    }

});
// window.addEventListener('beforeunload', (event) => {
//     // Cancela el evento de descarga para mostrar un mensaje personalizado
//      // event.preventDefault();

//     // Ejecuta la acción deseada en lugar de recargar la página
//     // Por ejemplo, redirige a otra página
//     window.location.href = window.location.hostname + '/#';
//     window.location.href.reload();

//     // Mensaje que se mostrará al usuario
// });

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>