<!DOCTYPE html>
<html>
    {% load i18n %}
<head>
    <title>Trascendance</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/pantallaPong.css"/>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="../../static/base.css">
    <style>
        /* Estilos adicionales si es necesario */
    </style>
</head>
<body>
    <div class="container">
        <!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
            <a class="navbar-brand" href="#">Trascendance</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'en' %}">{% trans "English" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'es' %}">{% trans "Español" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'fr' %}">{% trans "Français" %}</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>

        <!-- Contenido principal -->
        <div id="content" class="mt-3">
            <!-- Contenido cargado desde el servidor se inserta aquí por JavaScript -->
        </div>
        <div id="contenido-dinamico">
            
        </div>
        <div id="contenido-a-eliminar">
            <p><a href="#" onclick="mostrarLogin()" class="btn btn-primary links">{% trans "Login" %}</a></p>
            <p><a href="#" onclick="mostrarSignup()" class="btn btn-primary links">{% trans "Signup" %}</a></p>
            <p><a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-22fb4fcdf0439caa173afadfabf30acd4f9721420251db03960f190416055657&redirect_uri=https%3A%2F%2Flocalhost%2Fapi&response_type=code"><img src="../../static/42login.png" class="link42"></a></p>
        </div>
        {% if error %}
            <script>
                window.alert("Datos incorrectos");
                setTimeout(showMessage, 2000);
                window.location.href = "{% url 'index' %}";
            </script>
        {% endif %}
        {% if request.user.is_authenticated %}
        <script>
            window.onload = function() {
                mostrarLoged();
            };
            function mostrarLoged() {
                // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                $.get("{% url 'loged' %}", function(data) {
                    // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                    $("#contenido-dinamico").html(data);
                    $("#contenido-a-eliminar").hide();
                });
            }
        </script>
        {%if form %}
            <meta http-equiv="refresh" content="0; url={% url 'index' %}">
        {%endif%}
        {%if form2 %}
            <script>
                window.onload = function() {
                    mostrarTA();
                };
                function mostrarTA() {
                // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
                $.get("{% url 'torneos_admin' %}", function(data) {
                    // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                    $("#contenido-dinamico").html(data);
                    $("#contenido-a-eliminar").hide();
                });
            }
            </script>
        {%endif%}
        {% endif %}
    </div>
    <script>
        
        function mostrarLogin() {
            // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
            $.get("{% url 'login' %}", function(data) {
                // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                $("#contenido-dinamico").html(data);
                $("#contenido-a-eliminar").hide();
            });
        }
        function mostrarSignup() {
            // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
            $.get("{% url 'signup' %}", function(data) {
                // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                $("#contenido-dinamico").html(data);
                $("#contenido-a-eliminar").hide();
            });
        }
        function mostrarSignup42() {
            // Realiza una solicitud AJAX para obtener el contenido del formulario de inicio de sesión desde el servidor
            $.get("https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-22fb4fcdf0439caa173afadfabf30acd4f9721420251db03960f190416055657&redirect_uri=https%3A%2F%2Flocalhost%2Fapi&response_type=code", function(data) {
                // Inserta el contenido del formulario de inicio de sesión dentro de un contenedor en la página
                $("#contenido-dinamico").html(data);
                $("#contenido-a-eliminar").hide();
            });
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<footer class="container-fluid bg-dark text-white py-3 footer">
    <div class="text-left">
        <p class="m-0">&copy; 42Madrid excentric pong</p>
    </div>
</footer>
</body>
</html>
